In [16]:
from langchain_experimental.agents import create_pandas_dataframe_agent
from langchain_openai import ChatOpenAI
import pandas as pd
import sqlite3

In [43]:
conn = sqlite3.connect('../db/chinook.db')
query = "SELECT * FROM Startups"
df_sql = pd.read_sql_query(query, conn)
df_sql.head(2)

   index  R&D Spend  Administration  Marketing Spend       State     Profit
0      0   165349.2       136897.80        471784.10    New York  192261.83
1      1   162597.7       151377.59        443898.53  California  191792.06

In [44]:
csv_path = '../dataset/50_Startups.csv'
df_csv = pd.read_csv(csv_path)
df_csv.head(2)

   R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.2       136897.80        471784.10    New York  192261.83
1   162597.7       151377.59        443898.53  California  191792.06

In [46]:
llm = ChatOpenAI(model='gpt-4o-mini', temperature=0)

agent_panda_sql= create_pandas_dataframe_agent(
    llm,
    df_sql,
    agent_type="tool-calling",
    verbose=True,
    allow_dangerous_code=True,
)

# Running the agent
response = agent_panda_sql.invoke("P1ease find me the most profite")

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "most_profitable = df.loc[df['Profit'].idxmax()] \nmost_profitable"}`


index                      0
R&D Spend           165349.2
Administration      136897.8
Marketing Spend     471784.1
State               New York
Profit             192261.83
Name: 0, dtype: objectThe most profitable entry in the dataframe is as follows:

- **Index**: 0
- **R&D Spend**: 165,349.2
- **Administration**: 136,897.8
- **Marketing Spend**: 471,784.1
- **State**: New York
- **Profit**: 192,261.83

> Finished chain.